<!--
Aqui se faz a criação de tabs com icones  , usando o estilo de tabs de sua preferencia.
 -->
	<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Eventos" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/eventos">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Novo Evento" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/novo-evento">
    <ion-nav-view name="novo-evento"></ion-nav-view>
  </ion-tab>

</ion-tabs>
